<div class="container" style="width:40%">
    <div>
        <h2 style="float:left"><u>Log in</u>|</h2></div>
    <div><h2><a routerLink="/register">Create account</a></h2></div>
    <form>
        <div>
            <label for="username">Username</label>
            <input #usernameBox type="text" class="form-control" id="username" (keyup)="onUsername(usernameBox.value)" required>
        </div>

        <div>
            <label for="password">Password</label>
            <input #passwordBox type="password" class="form-control" (keyup)="onPassword(passwordBox.value)" required>
        </div>

        <button type="submit" class="btn btn-success" (click)="onLogin()">Login</button>
        
        {{authenticationMessage}}
      </form>
</div>
