<div style="width:100%">
    <div class="container" style="width:20%; float:left">
        <h1>Forums</h1>
        <ul>
          <li *ngFor="let forum of forums"><a routerLink="/main-page/{{forum.id}}/forum/{{forum.id}}">{{forum.title}}</a></li>
            {{checkGetForums}}
        </ul>
        <a routerLink="/main-page/create/new-forum">+add forum</a>

        <h1>Direct messages</h1>
        <ul>
          <li *ngFor="let user of users"><a routerLink="/main-page/{{user.username}}/direct-message/{{user.username}}">{{user.username}}</a></li>
            {{checkGetUsers}}
        </ul>

    </div>
    <router-outlet></router-outlet>
    <div class="container" style="width:20%; float:right">
      <div style="float: right">
        <a style="float: right" (click)="onLogOut()" routerLink="/login">Log out</a>
      </div>
      <h1>Contacts</h1>
      <ul>
        <li *ngFor="let user of users"><a routerLink="/main-page/{{user.username}}/contact-details/{{user.username}}"> {{user.username}}</a>
        </li>
        {{checkGetUsers}}
       </ul>
       <input #box type="text" class="form-control" value="Search users" (keyup.enter)="onSearch(box.value)">
    </div>
</div>

